@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "tailwindcss";

:root {
  --color-dashboard-background: #FFFCF8;
}

@theme inline {
  --color-dashboard-background: var(--color-dashboard-background);
  --font-mulish: 'Mulish', sans-serif;
}

@media (prefers-color-scheme: dark) {
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(
    90deg,
    #e3eeff 0%,
    #e3eeff 2.6%,
    #f3e7e9 96.88%,
    #f3e7e9 98.96%
  );
  min-height: 100vh;
}
